
.animationRight {
    animation: moveRight 4s forwards;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 10px;
}

.animationLeft {
    animation: moveLeft 4s forwards;
    width: 120px;
    height: 120px;
    position: absolute;
    right: 30px;
}

.background {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.animationFadeOut {
    animation: fadeOut 2s forwards;
    width: 100%;
    height: 100%;
}

.animationFadeIn {
    animation: fadeIn 2.5s forwards;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.animationBeBlack {
    background-color: black;
    width: 100%;
    height: 100%;
}

@keyframes moveRight {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(1340px)
    }
}

@keyframes moveLeft {
    0% {
        transform: translateX(0px)
    }
    100% {
        transform: translateX(-1360px)
    }
}

@keyframes fadeIn {
    0% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes fadeOut {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: black;
    }
}